@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root{
    $primaryDark: #531965;
    $green: #30b004;
    $primaryLight: #e0f0c1;
    font-family: 'Raleway', sans-serif;

    body{
        width: 100%;
        min-height: 100vh;
        background-color: #110c0f;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        color: #e0f0c1;

        header{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba($color: #000000, $alpha: .5);
            z-index: 1000;

            .headerContainer{
                width: 100%;
                max-width: 1440px;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 5rem;
                z-index: 3000;

                h1{
                    color:#42f833;
                    text-transform: uppercase;
                }

                a{
                    display: block;
                    color: $primaryLight;
                    text-transform: uppercase;
                    background-color: $green;
                    border-radius: 25px 25px 0 25px;
                    padding: .5rem 2.5rem;
                    font-weight: 700;
                    font-size: .9rem;
                }
            }
        }

        main{
            margin-top: 4rem;
            width: 100%;
            max-width: 1440px;
            height: calc(100vh - 4rem);
            // background-color: $primaryLight;
            display: flex;
            align-items: center;
            justify-content: center;

            // margin-bottom: 15rem;

            .users, .contacts{
                min-width: 15rem;
                height: 100%;
                // border-left: 1px solid $green;
            }
            
            .users{
                border-right: 1px solid $green;
            }
            .contacts{
                border-left: 1px solid $green;
            }

            .messages{
                width: 50rem;
                min-width: 20rem;
                height: 100%;
                // background-color: chocolate;

                .header,.footer{
                    height: 4rem;
                    width: 100%;
                }

                .header{
                    border-bottom: 1px solid $green;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: .4rem 2rem;

                    .user{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 2rem;
                        position: relative;

                        img{
                            height: 45px;
                            width: 45px;
                            background-color: chartreuse;
                            border-radius: 5px;
                            overflow: hidden;
                        }

                        .info{
                            font-size: 13px;
                        }

                        .status{
                            height: 10px;
                            width: 10px;
                            background-color: chartreuse;
                            border-radius: 50%;
                            position: absolute;
                            top: 5px;
                            right: -35px;
                        }
                    }

                    
                }
                
                .message{
                    width: 100%;
                    height: calc(100% - 8rem);
                    display: flex;
                    flex-direction: column;


                    .sent{
                        max-width: 50%;
                        align-self: end;
                        margin: 1rem;
                        background-color: $green;
                        padding: .5rem;
                        border-radius: 10px 10px 0 10px;
                    }

                    .received{
                        max-width: 50%;
                        align-self: flex-start;
                        margin: 1rem;
                        background-color: $primaryLight;
                        padding: .5rem;
                        color: $green;
                        border-radius: 10px 10px 10px 0;
                    }
                }

                .footer{
                    border-top: 1px solid $green;
                    display: flex;
                    // flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;

                    .text{
                        height: 100%;
                        width: 50%;
                        min-width: 300px;
                        // padding:  .2rem 1rem .5rem;
                        // border: 1px solid #ebebeb;
                        display: flex;
                        // background-color: #ebebeb;

                        textarea{
                            padding: .3rem;
                            border: none;
                            outline: none;
                            resize: none;
                            height: 100%;
                            width: 80%;
                            scrollbar-width: none;
                            background: transparent;
                            color: $primaryLight;
                        }

                        textarea::placeholder{
                            color: $green;

                            opacity: .5;
                        }

                        button{
                            height: 100%;
                            width: 20%;
                            color: $green;
                            background: transparent;
                            border: none;
                            outline: none;
                            outline: 1px solid green;
                            outline-offset: -2px;
                            border-radius: 5px;
                            // border-left: 1px solid green;
                            cursor: pointer;
                            transition: ease .5s;
                        }

                        button:hover{
                            outline: 5px solid black;
                            outline-offset: -7px;
                            background-color: $green;
                            color: $primaryLight;
                        }

                        textarea::-webkit-scrollbar{
                            display: none;
                        }
                    }

                    .person{
                        height: 100%;
                        width: 50%;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        // padding-left: 2rem;
                        // background-color: $green;

                        .user{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 2rem;
                            position: relative;
    
                            img{
                                height: 45px;
                                width: 45px;
                                background-color: chartreuse;
                                border-radius: 5px;
                                overflow: hidden;
                            }
    
                            .info{
                                font-size: 13px;
                            }
    
                            .status{
                                height: 10px;
                                width: 10px;
                                background-color: chartreuse;
                                border-radius: 50%;
                                position: absolute;
                                top: 5px;
                                right: -35px;
                            }
                        }
                    }
                }
            }

            .users,.contacts{
                overflow: hidden;

                .contactsheader{
                    height: 2rem;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    h2{
                        text-transform: uppercase;
                        font-size: 16px;
                        color: $green;
                    }
                }

                .header{
                    height: 4rem;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;

                    h2{
                        text-transform: uppercase;
                        font-size: 16px;
                        color: $green;
                    }

                    .searchUsers{
                        width: 90%;
                        border: 1px solid $green;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: .3rem .3rem .35rem .5rem;
                        border-radius: 5px;

                        input{
                            width: 87%;
                            background-color: transparent;
                            outline: none;
                            border: none;
                            color: #f4f4f4;
                        }
                    }
                }

                .container{
                    width: 100%;
                    max-height: calc(100% - 4rem);
                    overflow-y: auto;
                    scrollbar-width: none;
                    padding: 2rem .5rem;

                    .user{
                        height: 4rem;
                        width: 100%;
                        background-color: #ebebeb;
                        margin-bottom: .5rem;
                        border-radius: 5px;
                        padding: .5rem;
                        display: flex;
                        gap: 1rem;
                        align-items: center;
                        position: relative;

                        img{
                            height: 45px;
                            width: 45px;
                            border-radius: 50%;
                            background-color: aqua;
                            overflow: hidden;
                        }

                        .info{
                            height: 45px;
                            color: green;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;

                            p{
                                font-size: 13px;
                            }
                        }
                        .status{
                            position: absolute;
                            top: 5px;
                            right: 5px;
                            height: 10px;
                            width: 10px;
                            border-radius: 50%;
                            background-color: green;
                        }
                    }
                }

                .container::-webkit-scrollbar{
                    display: none;
                }
            }
        }

    }
}